:root {
    --main-font: "Century Gothic", "Gill Sans", sans-serif;
    --secondary-font: "Trebuchet MS", Tahoma, sans-serif;
    --primary-gray: #f9f9f9;
    --secondary-gray: #f5f5f5;
    --primary-blue: #84c4ff;
    --primary-radius: 5px;
}
* {
    margin: 0;
    padding: 0;
}
.page {
    background: #fcfcfc;
}
.clear-default {
    border: none;
    outline: none;
}